page-categorias {

  .toolbar-title-md, .toolbar-title.toolbar-title-ios{
    color: #36648B;
  }

  .back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button,
  .back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button{
    color: #36648B;
  }

  #img-thumbnail{
    border-radius: 10px;
  }

}
