page-home {

  #img-home{
    width: 300px;
    align-self: center;
    margin: auto;
    margin-top: 25%;
    display: block;
    padding: 10px;
  }

  @media (min-width: 412px) {
    #img-home{
      width: 300px;
      align-self: center;
      margin: auto;
      margin-top: 5%;
      display: block;
      padding: 10px;
    }
}

  h5{
    text-align: center;
    color: #36648B;

  }

  #btn-entrar{
    margin-top: 20px;
    background-color: #36648B;
  }

  #btn-registrar{
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #36648B;
    color: #36648B;
  }

  .label.label-md{
    color: #36648B;
  }

}
