
  .toolbar-title.toolbar-title-md, .toolbar-title.toolbar-title-ios{
    color: #36648B;
  }

  #btn-menu{
    background-color: #36648B;
    color: #fff;

    min-width: 36px;
    border-radius: 18px;
  }

  // style for android - dialog alert
  .alert-md > .alert-wrapper{
    border-radius: 25px;
  }

  .alert-md > .alert-wrapper > .alert-head{
    text-align: center;
    background: #36648B;
    color: #fff;
  }

  .alert-md > .alert-wrapper > .alert-message{
    text-align: center;
  }

  .alert-md > .alert-wrapper > .alert-button-group > .alert-button.alert-button-md.alert-button-default.alert-button-default-md {
    color: #36648B;

  }


  // style for ios - dialog alert
  .alert-ios > .alert-wrapper > .alert-head {
    text-align: center;
    background: #36648B;
    color: #fff;
  }
  .alert-ios > .alert-wrapper > .alert-message {
    text-align: center;
  }

  .alert-ios > .alert-wrapper > .alert-button-group{
    color: #36648B;
  }
  .disable-hover.alert-button.alert-button-ios.alert-button-default.alert-button-default-ios{
    color: #36648B;
  }


