
  .toolbar-title.toolbar-title-md, .input-wrapper, .toolbar-title.toolbar-title-ios{
    color: #36648B;
  }

  #btn-menu{
    background-color: #36648B;
    color: #fff;

    min-width: 36px;
    border-radius: 18px;
  }
